.all{
    height:100vh;
    background-color:black;

}
.all h1{
    display:flex;
    justify-content: center;
}

.detail{
    display: flex;
    justify-content: center;
    margin-top:100px;
}
.contenedor{
    background-color:#111111;
    width:60%;
    height: 600px;
    display:flex;
    border-radius: 30px;
    
    
}

.detailcard{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-left: 20px;
}

.contimage{
    position: relative;
    display: inline-block;
    text-align: center;
    margin:auto
}
.text{
    position: absolute;
    top: 50px;
    left: 10px;
    color:white
}
.button{
        background-color: #111111;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        margin-left: 15px;
        margin-top: 15px;
        cursor: pointer;
}
.button:hover{
    background-color:dimgrey;
}