.container{
    background-color:black;
    
}

.detailcard{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.contimage{
    position: relative;
    display: inline-block;
    text-align: center;
}
.text{
    position: absolute;
    top: 50px;
    left: 10px;
    color:white
}