.back{
    height:400px;
    width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
    background-color:#000000;
}

 .image{
    margin: 10px;
    width: auto; 
 max-height: 100%;
   
}

.searchbar {
    display: flex;
    justify-content: center;
  }
  .searchbar .search {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid white;
    border-right: none;
    outline: none;
  }
  .searchbar button {
    background-color: white;
    border: none;
    outline: none;
    padding: 0 1rem;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: grey
  }
  .searchbar button:hover {
    cursor: pointer;
    background-color: #fa9191;
  }